{% load static %}

<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
  <head>
    <meta charset="utf-8"/>
    <title>Schedules Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="author"/>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css"/>

    <script src="{% static 'js/layout.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet" type="text/css"/>
    
  </head>
<!-- Add chat button to header -->
<div class="ms-1 header-item">
  <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" id="chat-launcher">
    <i class="ri-chat-1-line fs-22"></i>
  </button>
</div>

  <body>
    <div id="layout-wrapper">
      <header id="page-topbar">
        <div class="layout-width">
          <div class="navbar-header">
            <div class="d-flex">
              {% comment %} expander button {% endcomment %}
              <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">
                <span class="hamburger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </button>
            </div>

            <div class="d-flex align-items-center">
              {% comment %} full screen button {% endcomment %}
              <div class="ms-1 header-item d-none d-sm-flex">
                <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                  <i class="bx bx-fullscreen fs-22"></i>
                </button>
              </div>

              {% comment %} theme toggler button  {% endcomment %}
              <div class="ms-1 header-item d-none d-sm-flex">
                <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                  <i class="bx bx-moon fs-22"></i>
                </button>
              </div>

              {% comment %} profile starts  {% endcomment %}
              <div class="dropdown ms-sm-3 header-item topbar-user">
                <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="d-flex align-items-center">
                    <img class="rounded-circle header-profile-user" src="static/images/users/avatar-0.jpg" alt="Header Avatar"/>
                    <span class="text-start ms-xl-2">
                      <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">{{username}}</span>
                    </span>
                  </span>
                </button>

                <div class="dropdown-menu dropdown-menu-end">
                  <h6 class="dropdown-header">Welcome {{username}}</h6>
                  <a class="dropdown-item" href="signout/">
                    <i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i>
                    <span class="align-middle" data-key="t-logout">Logout</span>
                  </a>
                </div>
              </div>
              {% comment %} profile ends  {% endcomment %}
            </div>
          </div>
        </div>
      </header>

       {% comment %} sidebar  {% endcomment %}
      <div class="app-menu navbar-menu">
        <div class="navbar-brand-box">
          <a href="{% url "fetch_data" %}" class="logo logo-dark">
            <span class="logo-sm">
              <img src="{% static 'images/logo-sm.png' %}" alt="" height="22" />
            </span>
            <span class="logo-lg">
              <img src="{% static 'images/logo-dark.png' %}" alt="" height="17" />
            </span>
          </a>
          <a href="{% url "fetch_data" %}" class="logo logo-light">
            <span class="logo-sm">
              <img src="/static/images/logo-sm.png" alt="" height="22" />
            </span>
            <span class="logo-lg">
              <img src="/static/images/logo-light.png" alt="" height="17" />
            </span>
          </a>
          <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
          </button>
        </div>

        <div id="scrollbar">
          <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
              <li class="menu-title"><span data-key="t-menu">Menu</span></li>
              <li class="nav-item">
                <a class="nav-link menu-link" href="{% url "fetch_data" %}">
                  <i class="ri-honour-line"></i>
                  <span data-key="t-widgets">Schedules</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      {% comment %} Start right Content here {% endcomment %}
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0">Schedules</h4>
                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active">Schedules</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Schedules</h5>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
                      <i class="ri-add-line"></i>Add Customer
                    </button>
                  </div>
                  <div class="card-body">
                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width: 100%">
                      <thead>
                        <tr>
                          <th data-ordering="false">User ID</th>
                          <th data-ordering="false">Name</th>
                          <th data-ordering="false">Phone</th>
                          <th data-ordering="false">Age</th>
                          <th>Appointment Date</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for customer in content %}
                        <tr id="customer-{{ customer.user_id }}">
                          <td>{{customer.user_id}}</td>
                          <td>{{customer.person_name}}</td>
                          <td>{{customer.phone_number}}</td>
                          <td>{{customer.age}}</td>
                          <td>{{customer.appointment_date}}</td>
                          <td>{{customer.appointment_time}}</td>
                          <td>{{customer.appointment_end_time}}</td>
                          <td>
                            {% if customer.status == "Approved" %}
                            <span class="badge bg-primary">{{customer.status}}</span>
                            {% elif customer.status == "Pending" %}
                            <span class="badge bg-warning">{{customer.status}}</span>
                            {% elif customer.status == "Completed" %}
                            <span class="badge bg-success">{{customer.status}}</span>
                            {% elif customer.status == "Rejected" %}
                            <span class="badge bg-danger">{{customer.status}}</span>
                            {% endif %}
                          </td>
                          <td>
                            <div class="dropdown d-inline-block">
                              <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-more-fill align-middle"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                  <a href="#!" class="dropdown-item view-item-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#viewCustomerModal"
                                    data-userid="{{customer.user_id}}"
                                    data-name="{{customer.person_name}}"
                                    data-phone="{{customer.phone_number}}"
                                    data-age="{{customer.age}}"
                                    data-appointmentdate="{{customer.appointment_date}}"
                                    data-appointmenttime="{{customer.appointment_time}}"
                                    data-appointmentendtime="{{customer.appointment_end_time}}"
                                    data-status="{{customer.status}}">
                                    <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                    View
                                  </a>
                                </li>
                                <li>
                                  <a href="#!" class="dropdown-item edit-item-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editModal"
                                    data-user-id="{{ customer.user_id }}"
                                    data-person-name="{{ customer.person_name }}"
                                    data-phone-number="{{ customer.phone_number }}"
                                    data-age="{{ customer.age }}"
                                    data-appointment-date="{{ customer.appointment_date }}"
                                    data-appointment-time="{{ customer.appointment_time }}"
                                    data-appointment-end-time="{{ customer.appointment_end_time }}"
                                    data-status="{{ customer.status }}">
                                    <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                    Edit
                                  </a>
                                </li>
                                <li>
                                  <a href="#!" class="dropdown-item remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" data-user-id="{{ customer.user_id }}">
                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                    Delete
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        {% endfor %} {% include "modals.html" %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <script>
                  document.write(new Date().getFullYear());
                </script>
                © Muntasir
              </div>
              <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                  Design & Develop by Muntasir
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
      <i class="ri-arrow-up-line"></i>
    </button>

    <div id="preloader">
      <div id="status">
        <div class="spinner-border text-primary avatar-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

    {% comment %} JAVASCRIPT {% endcomment %}
    <script>
      // view data script
      document.addEventListener("DOMContentLoaded", function () {
        var viewButtons = document.querySelectorAll(".view-item-btn");

        viewButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            // Get customer details from data attributes
            var userId = this.getAttribute("data-userid");
            var name = this.getAttribute("data-name");
            var phone = this.getAttribute("data-phone");
            var age = this.getAttribute("data-age");
            var appointmentDate = this.getAttribute("data-appointmentdate");
            var appointmentTime = this.getAttribute("data-appointmenttime");
            var appointmentEndTime = this.getAttribute(
              "data-appointmentendtime"
            );
            var status = this.getAttribute("data-status");

            // Populate the modal with customer details
            document.getElementById("modalUserId").textContent = userId;
            document.getElementById("modalPersonName").textContent = name;
            document.getElementById("modalPhoneNumber").textContent = phone;
            document.getElementById("modalAge").textContent = age;
            document.getElementById("modalAppointmentDate").textContent =
              appointmentDate;
            document.getElementById("modalAppointmentTime").textContent =
              appointmentTime;
            document.getElementById("modalAppointmentEndTime").textContent =
              appointmentEndTime;
            document.getElementById("modalStatus").textContent = status;
          });
        });
      });

      // edit data script
      document.addEventListener("DOMContentLoaded", function () {
        let userIdToEdit = null;

        // Triggered when the "Edit" button is clicked, and pre-fill the modal with customer data
        document.querySelectorAll(".edit-item-btn").forEach(function (button) {
          button.addEventListener("click", function () {
            userIdToEdit = this.getAttribute("data-user-id");

            // Populate the modal form with the customer's current data
            document.getElementById("personName").value =
              this.getAttribute("data-person-name");
            document.getElementById("phoneNumber").value =
              this.getAttribute("data-phone-number");
            document.getElementById("age").value =
              this.getAttribute("data-age");
            document.getElementById("appointmentDate").value = new Date(
              this.getAttribute("data-appointment-date")
            )
              .toLocaleDateString("en-GB")
              .split("/")
              .reverse()
              .join("-");
            document.getElementById("appointmentTime").value = formatTime(
              this.getAttribute("data-appointment-time")
            );
            document.getElementById("appointmentEndTime").value = formatTime(
              this.getAttribute("data-appointment-end-time")
            );

            // For the status field, check if it's a dropdown (select) or a text input
            const statusField = document.getElementById("appointmentStatus");
            const status = this.getAttribute("data-status");

            if (statusField.tagName === "SELECT") {
              // If it's a dropdown (select), set the selected value
              for (let option of statusField.options) {
                if (option.value === status) {
                  option.selected = true;
                  break;
                }
              }
            } else {
              // If it's a text input, set the value directly
              statusField.value = status;
            }
          });
        });

        // Triggered when the "Update" button in the modal is clicked
        document
          .getElementById("updateCustomerBtn")
          .addEventListener("click", function () {
            if (userIdToEdit) {
              // Get the updated data from the form
              const updatedData = {
                person_name: document.getElementById("personName").value,
                phone_number: document.getElementById("phoneNumber").value,
                age: document.getElementById("age").value,
                appointment_date:
                  document.getElementById("appointmentDate").value,
                appointment_time:
                  document.getElementById("appointmentTime").value,
                appointment_end_time:
                  document.getElementById("appointmentEndTime").value,
                status: document.getElementById("appointmentStatus").value,
              };

              // console.log("updatedData", updatedData);
              // Perform the update via a POST request
              fetch(`/edit-customer/${userIdToEdit}/`, {
                method: "POST",
                headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(updatedData),
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // Hide the modal
                    let modal = bootstrap.Modal.getInstance(
                      document.getElementById("editModal")
                    );
                    modal.hide();

                    let statusBadge = "bg-primary";
                    if (updatedData.status == "Rejected") {
                      statusBadge = "bg-danger";
                    } else if (updatedData.status == "Completed") {
                      statusBadge = "bg-success";
                    } else if (updatedData.status == "Pending") {
                      statusBadge = "bg-warning";
                    }

                    // Update the corresponding row in the table
                    const row = document.getElementById(
                      `customer-${userIdToEdit}`
                    );
                    row.querySelector("td:nth-child(2)").innerText =
                      updatedData.person_name;
                    row.querySelector("td:nth-child(3)").innerText =
                      updatedData.phone_number;
                    row.querySelector("td:nth-child(4)").innerText =
                      updatedData.age;
                    row.querySelector("td:nth-child(5)").innerText =
                      updatedData.appointment_date;
                    row.querySelector("td:nth-child(6)").innerText =
                      updatedData.appointment_time;
                    row.querySelector("td:nth-child(7)").innerText =
                      updatedData.appointment_end_time;
                    row.querySelector(
                      "td:nth-child(8)"
                    ).innerHTML = `<span class="badge ${statusBadge}">${updatedData.status}</span>`;
                  }
                });
            }
          });
      });

      // delete action script
      document.addEventListener("DOMContentLoaded", function () {
        let userIdToDelete = null;

        // Triggered when the delete button is clicked
        document
          .querySelectorAll(".remove-item-btn")
          .forEach(function (button) {
            button.addEventListener("click", function () {
              userIdToDelete = this.getAttribute("data-user-id");
            });
          });

        // Triggered when the "Confirm Delete" button in the modal is clicked
        document
          .getElementById("confirmDelete")
          .addEventListener("click", function () {
            if (userIdToDelete) {
              // Perform the deletion via a POST request
              fetch(`/delete-customer/${userIdToDelete}/`, {
                method: "POST",
                headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
                  "Content-Type": "application/json",
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  // Hide the delete confirmation modal
                  let deleteModal = bootstrap.Modal.getInstance(
                    document.getElementById("deleteModal")
                  );
                  deleteModal.hide();
                  if (data.success) {
                    // Optionally, remove the deleted row from the table dynamically
                    document
                      .getElementById(`customer-${userIdToDelete}`)
                      .remove();

                    // Show success modal
                    let successModal = new bootstrap.Modal(
                      document.getElementById("successModal")
                    );
                    successModal.show();
                  } else {
                    // Show failure modal if deletion is not successful
                    let failureModal = new bootstrap.Modal(
                      document.getElementById("failureModal")
                    );
                    failureModal.show();
                  }
                })
                .catch((error) => {
                  // In case of network or server error, show failure modal
                  let failureModal = new bootstrap.Modal(
                    document.getElementById("failureModal")
                  );
                  failureModal.show();
                });
            }
          });
      });

      // add customer button action
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('addCustomerBtn').addEventListener('click', function() {
            // Get form data
            let formData = new FormData(document.getElementById('addCustomerForm'));

            // Perform the AJAX request
            fetch('/add-customer/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Close the modal
                    let modal = bootstrap.Modal.getInstance(document.getElementById('addCustomerModal'));
                    modal.hide();

                    let statusBadge = "bg-primary";
                    if (data.status == "Rejected") {
                      statusBadge = "bg-danger";
                    } else if (data.status == "Completed") {
                      statusBadge = "bg-success";
                    } else if (data.status == "Pending") {
                      statusBadge = "bg-warning";
                    }

                    // Add new customer to the table (dynamically update the page)
                    let newRow = `
                    <tr id="customer-${data.customer.id}">
                        <td>${data.customer.user_id}</td>
                        <td>${data.customer.person_name}</td>
                        <td>${data.customer.phone_number}</td>
                        <td>${data.customer.age}</td>
                        <td>${data.customer.appointment_date}</td>
                        <td>${data.customer.appointment_time}</td>
                        <td>${data.customer.appointment_end_time}</td>
                        <td><span class="badge ${statusBadge}">${data.customer.status}</span></td>
                        <td>
                          <div class="dropdown d-inline-block">
                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ri-more-fill align-middle"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li>
                                <a href="#!" class="dropdown-item"><i
                                    class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                  View</a>
                              </li>
                              <li>
                                <a class="dropdown-item edit-item-btn"><i
                                    class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                  Edit</a>
                              </li>
                              <li>
                                <a class="dropdown-item remove-item-btn"><i
                                    class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                  Delete</a>
                              </li>
                            </ul>
                          </div>
                        </td>
                    </tr>`;

                    document.querySelector('tbody').insertAdjacentHTML('beforeend', newRow);

                    // Reload the page after adding the customer
                    location.reload();
                } else {
                    // Show an error message if needed
                    alert('Error adding customer.');
                }
            })
            .catch(error => {
                // Handle network or server errors
                alert('An error occurred. Please try again.');
            });
        });
      });

      // function for formating time
      function formatTime(timeString) {
        // Convert to lowercase and remove any periods
        timeString = timeString.toLowerCase().replace(/\./g, "");

        // Split the time into parts (hours and modifier)
        let [time, modifier] = timeString.split(" ");

        // Split hours and minutes (if they exist)
        let [hours, minutes] = time.includes(":") ? time.split(":") : [time, "00"];

        // Convert hours to a number
        hours = parseInt(hours, 10);

        // Convert to 24-hour format
        if (modifier === "pm" && hours < 12) {
            hours += 12;
        } else if (modifier === "am" && hours === 12) {
            hours = 0;
        }

        // Pad hours and minutes to ensure two digits
        hours = String(hours).padStart(2, "0");
        minutes = String(minutes).padStart(2, "0");

        // Return the formatted time
        return `${hours}:${minutes}`;
      }
    </script>
    <script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/libs/simplebar/simplebar.min.js"></script>
    <script src="/static/libs/node-waves/waves.min.js"></script>
    <script src="/static/libs/feather-icons/feather.min.js"></script>
    <script src="/static/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/static/js/plugins.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    {% comment %} datatable js {% endcomment %}
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="/static/js/pages/datatables.init.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
